.Footer{
  font-family: "Fira Sans";
  padding: 5%;
  background-color: black;
  
}
.news{
  background-color: #34B6DD;
  padding: 1%;
  padding-left: 3%;
  padding-right: 0%;
  margin: 1%;
  align-items: center;
}
.borde{
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 2px;
}
.copy {
  font-size: 12px;
  padding: 1%;
  border-top: 1px solid #707070;
  margin-left: 2%;
  margin-right: 5%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

/* footer social icons */
.social:hover {
     -webkit-transform: scale(1.0);
     -webkit-transition-duration: 0.5s;
 }
 .social {
     -webkit-transform: scale(0.7);
 }
 .photo {
  height: 80px;
  width: 295px;
}

.address{
  margin-left: 10%;
}
.links{
  margin-top: 2%;
}
.form{
  margin-right: 5%;
  
}
.font{
  margin: 2%;
}
.btn{
  margin-bottom: 10%;
  margin-top: 0%;
  height: 40px;
  width: 70;
  background-color: black !important;
}

input{
  width: 0%;
  
}
.btn-icon{
  
  
  padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
    img {
         width: 200px;
    }
}


img {
    max-width: 100%;
}

.btn-collapse{
  background-color:  rgb(41, 40, 40) !important;
  padding: 0%;
  margin: 0%;
  width: 100%;
  
}
@media screen and (max-width:480px){
  .foo{
    text-align: center !important;
  }
  .lap{
    display: none !important;
  }
  .phone{
  display: block !important ;
}
.list-unstyled{
  background-color:rgb(41, 40, 40) ;
}
.work-row1{
  font-size: 15px !important;

}
.work-row2{
  font-size: 40px !important;
}
  
}
.phone{
  display: none;
}
.box{
  background-color: black;
  color: white;
  padding-bottom: 5%;
}
.cont{
  align-items: center;
}
.work-row1{
  font-size: 25px;
  text-align: center;
  font-family: Marcellus;
  align-items: center;
  margin-bottom: 0%;
  padding: 0%;
  padding-top: 10% !important;
  
  

}
.line{
  background-color: #efefef; 
    bottom: 0;
    content: '';
    display: block;
    height: 0px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,0);
    width: 50px;
}
.work-row2{
  font-size: 72px;

  font-family: Fira Sans;
  text-align: center;
  align-items: center;
}
.work-icon{
  
  padding: 1%;
  padding-bottom: 0px !important;
 

}
.work-button{
  background-color: rgb(54, 53, 53) !important;
  font-family: Marcellus !important;
  text-transform: none !important;
  font-size:1.1rem;
  padding: 0%;
  margin: 0%;
  margin-bottom: 1% !important;
  padding-bottom: 2% !important;
  width: 100%;
  text-align: left;
}
.mbd-collapse{
  background-color: rgb(54, 53, 53) !important;
  width: 100%;
  text-align: center;
  font-family: Marcellus !important;
  padding: 0%;
  margin: 0%;
}
.quote-box{
  background-color: white;
  align-items: center;
  text-align: center;
}
.quote-btn{
  background-color: #34B6DD !important;
}
.quote-span{
  padding-bottom: 5px;
  text-size-adjust: justify;
  text-align: center;
}


