.Footer{
  padding: 5%;
  background-color: black;
  
}
.news{
  background-color: #34B6DD;
  padding: 1%;
  margin: 1%;
}
.borde{
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 2px;
}
.copy {
  font-size: 12px;
  padding: 1%;
  border-top: 1px solid #707070;
  margin-left: 2%;
  margin-right: 5%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

/* footer social icons */
.social:hover {
     -webkit-transform: scale(1.0);
     -webkit-transition-duration: 0.5s;
 }
 .social {
     -webkit-transform: scale(0.7);
 }
 .photo {
  height: 80px;
  width: 295px;
}

.address{
  margin-left: 10%;
}
.links{
  margin-top: 2%;
}
.form{
  margin-right: 5%;
  
}
.font{
  margin: 2%;
}
.btn{
  margin-bottom: 10%;
  margin-top: 0%;
  height: 40px;
  width: 70;
}

input{
  width: 0%;
  
}
.btn-icon{
  
  padding-bottom: 10px;
}